{% extends "base.html" %}

{% block content %}
    <h1>Total Pledges: {{ total_pledges }}</h1>

    <h2 class="mt-4">Impacts by Metric</h1>
    {% for metric in metrics %}
    <p><strong>Total {{ metric.0 }} Savings:</strong> {{ metric.1 }}</p>
    {% endfor %}


    {% if user.is_authenticated %}
        <h3 class="mt-4">Your Pledges</h3>
        {% for pledge in my_pledges %}
            <p>
                {{ forloop.counter }} {{ pledge.action.title }}
            </p>
        {% empty %}
            <p>You haven't made any pledges yet.</p>
        {% endfor %}

        <h3 class="mt-4">See what others are pledging!</h3>
        {% for user in users %}
            <p>
                <a href="{% url "user-pledges" username=user.username %}">{{ user }}</a>
            </p>
        {% endfor %}
    {% else %}
        <p>
            <a href="{% url 'account_login' %}" class="btn btn-success active" role="button" aria-pressed="true">Login to See Pledges</a>
        </p>
    {% endif %}
{% endblock content %}